div.success-bar {
    width: 400px;
    border: 1px solid hsl(134, 61%, 21%);
    border-radius: 6px;
    padding: 10px;
    color: hsl(134, 61%, 21%);
    font-weight: 600;
    background: hsl(134, 41%, 88%);
    margin: 30px auto;
    display: none;
    font-size: 1rem;
}
