div.account-page {
    width: 800px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

div.account-page div.sidebar {
    grid-column-start: 1;
    grid-column-end: 1;
}

div.account-page div.content {
    grid-column-start: 2;
    grid-column-end: 2;
    border-left: 1px solid var(--dark-gray-bgcolor);
    padding-left: 25px;
}

div.account-page div.content h1 {
    margin: 0 0 25px 0;
}
