@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    font-size: 100%;
    position: relative;
    height: 100%;
}

main {
    width: 1200px;
    margin: 0 auto;
}

.centered {
    text-align: center;
}

i.arrow {
    border: solid hsl(0, 0%, 100%);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin: 0 10px 5px 8px;
}

i.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

i.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

button,
textarea {
    font-family: 'Mulish', sans-serif;
}

.form-message {
    margin: 20px 0;
    font-size: 1.2rem;
    text-align: center;
}

.error-text {
    color: hsl(0, 100%, 50%);
    margin: 10px 0;
}

.add-button {
    text-align: right;
    margin: 15px 0 15px 15px;
}

/* BUTTONS */
button {
    padding: 4px 10px;
    border-width: 1px;
    border-style: solid;
    font-size: 1rem;
    border-radius: 3px;
}

button.green {
    background: hsl(120, 61%, 40%);
    color: hsl(0, 0%, 100%);
    border-color: hsl(120, 61%, 25%);
}

button.green:hover,
button.green:active,
button.green:focus {
    border-color: hsl(120, 61%, 25%);
    background: hsl(120, 61%, 25%);
    outline-color: hsl(120, 61%, 25%);
}

button.red {
    background: hsl(2, 99%, 45%);
    color: hsl(0, 0%, 100%);
    border-color: hsl(3, 87%, 35%);
}

button.red:hover,
button.red:active,
button.red:focus {
    border-color: hsl(3, 87%, 35%);
    background: hsl(3, 87%, 35%);
    outline-color: hsl(3, 87%, 35%);
}

button.blue {
    background: hsl(199, 83%, 56%);
    color: hsl(0, 0%, 100%);
    border-color: hsl(199, 100%, 34%);
}

button.blue:hover,
button.blue:active,
button.blue:focus {
    border-color: hsl(199, 100%, 34%);
    background: hsl(199, 100%, 34%);
    outline-color: hsl(199, 100%, 34%);
}
