div.macro-form fieldset {
    margin: 25px 0;
}

div.macro-form fieldset legend {
    font-weight: 700;
}

div.macro-form div.macro-field {
    margin: 12px 0;
    height: 42px;
    line-height: 42px;
}

div.macro-form div.macro-field label {
    display: inline-block;
    line-height: 42px;
}

div.macro-form div.macro-field label div.macro-name {
    display: inline-block;
    width: 200px;
    line-height: 42px;
}

div.macro-form div.macro-field label input[type='text'] {
    display: inline-block;
    width: 80px;
}

div.macro-form div.macro-field label input[type='checkbox'] {
    height: 42px;
}

div.macro-form div.macro-field .macro-target {
    margin-left: 20px;
}
