div.error-bar {
    width: 400px;
    border: 1px solid hsl(354, 61%, 28%);
    border-radius: 6px;
    padding: 10px;
    color: hsl(354, 61%, 28%);
    font-weight: 600;
    background: hsl(355, 70%, 91%);
    margin: 30px auto;
    display: none;
    font-size: 1rem;
}
